{% extends 'base.html.twig' %}

{% block title %}New Holder{% endblock %}

{% block body %}
    <h1>Create new Holder</h1>

    {{ include('holder/_form.html.twig') }}

    <a href="{{ path('app_holder_index') }}">back to list</a>
{% endblock %}
